You must create a JSON object for each image. You should format each individual JSON according to the following schema:

{{ schema }}

You should return a final JSON object that includes the JSON objects for each image. Do not include the `json` tags.

This is an example of the exact format I want you to follow in your output (if analyzing 3 images):
{
{
"ID": "001",
"description": "description of idea 001",
"summary": "summary of idea 001",
},
{
"ID": "002",
"description": "description of idea 002",
"summary": "summary of idea 002",
},
{
"ID": "003",
"description": "description of idea 003",
"summary": "summary of idea 003",
}
}
